/* set the body's background color */
body{
  background-color: #fafafa;
}

/* navbar styling */
.navbar-light{
  background-color: rgba(114, 192, 100, 0.918);
}
/* footer styles */
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  background-color: #444;
  color:#fff;
  height: 30px;
  font-size: 85%;
}

.content-wrapper {
  padding-bottom: 60px;
}
/* map area height adjustment */
#map {
  position: absolute;
  border-top: 1px solid #444;
  top: 95px;
  right: 0;
  bottom: 30px;
  left: 0;
}

/* header styles */
h6 {
  padding:10px;
  text-align: center;
  background-color:lightgray;
}

/* row class padding  */
.row{
  padding-top:40px;
  padding-bottom: 40px;
}

/* add legends syles */
.legend {
  line-height: 18px;
  color:rgb(63, 62, 62);
  background-color:white;
  padding:3px
}
.legend i {
  width: 18px;
  height: 18px;
  float: left;
  margin-right: 8px;
  opacity: 0.7;
  
}

/* links colors */
a{
  color: black;
}

/* set links icon left margin */
i {
  margin-left: 5px;
}

.popup {
  pointer-events: none;
}

/* small screen adjustments*/
@media(max-width:992px){
  
  #navbarSupportedContent {
    display: block;
  }

  #map {
    top: 172px;
  }

  .subtitle {
    height: 36px;
    font-size: 85%;
  }
}

@media(max-width:767px){
  .thumbnail{
    width: 40%
  }

  #map {
    top: 172px;
  }

  .subtitle {
    height: 36px;
    font-size: 65%;
  }
}
