<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Green Energy</title>
    <!-- bootstrap and css stylesheet link -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css">
    <link rel="stylesheet" href="../static/css/style.css">
</head>
    
<body>
    <!--Navbar adjustments-->
    <nav class="navbar navbar-expand-lg navbar-light">
        <div class="container">               
            <a class="navbar-brand" href="/" >ABOUT</a>
            
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">    
                    <li class="nav-item">
                        <a class="nav-link" href ="/map">ENERGY MAP</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/plots">VISUALIZATIONS</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- create a container -->
    <div class="container content-wrapper">
        <div class="row">
            <div class="col-md-4">
                <div class="thumbnail">
                    <img src= "../static/resources/recycle-globe.png" width="50%">
                </div>
            </div>
            <div class="col-md-8">
                <div class="data">
                    <h3 class="header">Data Sources</h3>
                    <li><a href=" https://data.world/doe/united-states-renewable-energy ">Data World - U.S. Renewable Energy Technical Potentials: A GIS-Based Analysis <i class="fas fa-external-link-alt"></i></a></li>
                    
                    <li><a href = "https://www.eia.gov/state/rankings/">EIA.gov - Total Energy Consumed per state for 2017  <i class="fas fa-external-link-alt"></i></a></li>
                    
                    <li><a href="https://en.wikipedia.org/wiki/ List_of_states_and_territories_of_the_United_States_by_population#cite_note-5">Wikipedia - US Census population estimates by states  <i class="fas fa-external-link-alt"></i></a></li>

                    <li><a href="https://www.kaggle.com/washimahmed/usa-latlong-for-state-abbreviations">Kaggle.com - States Latitude and Longitude <i class="fas fa-external-link-alt"></i></a></li>

                </div>   
            </div>
        </div>

        <div class="col-md-12">
            <h3 class="header">Renewable Energy vs. Consumption in US by State</h3>
            <p><strong>Renewable energy </strong> is energy that comes from natural resources such as sunlight, wind, rain, tides, plants, waves and geothermal heat. These energy resources are renewable, meaning they are naturally replenished. Renewable energy has the potential to provide 80 percent of U.S. electricity by 2050.</p>
            <br>
            <p><strong>The major types of renewable energy sources: </strong>Biomass, Hydropower, Geothermal, Wind and Solar.</p>
            <p>Every year, much of the energy the U.S. consumes is wasted through transmission, heat loss and inefficient technology, costing American families and businesses money, and leading to increased carbon pollution.</p>
            <p>States have adopted a number of policies to support renewable energy technologies. Each state has its own Renewable Portfolio Standards (RPS), which require that a specified percentage of the electricity that utilities sell comes from renewable resources. States have created these standards to diversify their energy resources, promote domestic energy production and encourage economic development. </p>
            <br>
            <h5>Clean Energy by the Numbers</h5>
            <p>Which states have the most potential renewable energy?</p>
            <p>Total energy consumption vs. renewable energy potential by State: Can a State’s potential meet their consumption? </p>
            <p>Types of renewable energy by highest potential: Which types account for the most potential? By State?</p>
        </div>
    </div>

    <!-- Footer -->
    <footer class="footer font-small footer-dark">
        <div class="footer-copyright text-center py-1">© Copyright Coding Bootcamp 2019</div>      
    </footer>

</body>
</html>

