<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Visualizations</title>

    <!--bootstrap and css-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <!--our css-->
    <link rel="stylesheet" href="static/css/style.css">
</head>
    
<body>
    <!--Navbar adjustments-->
    <nav class="navbar navbar-expand-lg navbar-light">
        <div class="container">               
            <a class="navbar-brand" href="index.html" >ABOUT</a>
            
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">    
                    <li class="nav-item">
                        <a class="nav-link" href ="map.html">ENERGY MAP</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="plots.html">VISUALIZATIONS</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- create a container for the plots -->
    <div class=container>
        <div class="row">
            <div class="col-md-2">
                <!-- create a div for the dropdown menu -->
                <div class="dropdown">
                    <h5>State</h5>
                    <select id="selDataset" onchange="optionChanged(this.value)"></select>
                </div>    
            </div>
            <!-- create a div for the first plot -->
            <div class="col-md-10">
                <div id = "plot1"></div>
            </div>
        </div>
        <!-- create a div for the second plot -->
        <div class="col-md-6">
            <div id="plot2"></div>
        </div>
        <!-- create a div for the third plot -->
        <div class="col-md-6">
            <div id="plot3"></div>
        </div>
    </div>

    <!-- Footer -->
    <footer class="footer font-small footer-dark">
        <div class="footer-copyright text-center py-1">© Copyright Coding Bootcamp 2019</div>      
    </footer>
    
    <!--d3 and plotly-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.5.0/d3.js"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script type="text/javascript" src= "static/js/logic.js"></script>

</body>
</html>
