<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Visualizations</title>
    
    <!--bootstrap css-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <!-- Leaflet CSS & JS -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.3/dist/leaflet.css"
    integrity="sha512-Rksm5RenBEKSKFjgI3a41vrjkw4EVPlJ3+OiI65vTjIdo9brlAacEuKOiQ5OFh7cOI1bkDwLqdLw3Zg0cRJAAQ=="
    crossorigin=""/>
    <script src="https://unpkg.com/leaflet@1.3.3/dist/leaflet.js"
    integrity="sha512-tAGcCfR4Sc5ZP5ZoVz0quoZDYX5aCtEm/eu1KhSLj2c9eFrylXZknQYmxUssFaVJKvvc0dJQixhGjG2yXWiV9Q=="
    crossorigin=""></script>

    <!--D3 cdn-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/4.5.0/d3.min.js"></script>

    <!--css style-->
    <link rel="stylesheet" href="../static/css/style.css">
    
</head>
    
<body>
    <!--Navbar adjustments-->
    <nav class="navbar navbar-expand-lg navbar-light">
        <div class="container">               
            <a class="navbar-brand" href="/" >ABOUT</a>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">    
                    <li class="nav-item">
                        <a class="nav-link" href ="/map">ENERGY MAP</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/plots">VISUALIZATIONS</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- create a container for the plots -->
    <div class="container content-wrapper">
        <div class="row">
            <div class="col-md-12">
                <!-- create a div for the dropdown menu -->
                <div class="well">
                    <h5>State</h5>
                    <select id="selDataset" onchange="stateChange(this.value)"></select>
                </div>    
            </div>
        </div>
        <div class="row">
            <!-- create a div for the first plot -->
            <div class="col-md-6">
                <div id="plot1">
                    <canvas id="barChart" width="400" height="400"></canvas>
                </div>
            </div>
        
            <!-- create a div for the second plot -->
            <div class="col-md-6">
                <div id="plot2">
                    <canvas id="pieChart" width="400" height="400"></canvas>
                </div>
            </div>
        </div>

        <hr>

        <!-- create second row and div for the third plot -->
        <div class = "row">
            <div class= "col-md-12">
                <div class="well">
                    <h5>Renewable Energy Type</h5>
                    <select id="selDataset2"></select>
                </div>    
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div id="plot3"></div>
            </div>
        </div>

        <hr>

        <!-- third row for the fourth plot -->
        <div class="row">
            <div class="col-md-12">
                <div id="plot4"></div>
            </div>
        </div>    
    </div>

    <!-- Footer -->
    <footer class="footer font-small footer-dark">
        <div class="footer-copyright text-center py-1">© Copyright Coding Bootcamp 2019</div>      
    </footer>
    
    <!--plotly and chart.js-->
    
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
    
    <!-- our js files -->
    <script type="text/javascript" src= "../static/js/logic.js"></script>
    <script type="text/javascript" src = "../static/js/plots.js"></script>
    
</body>
</html>
